html {
    background-color: dimgray;
}

.bloc {
    color: crimson;
    text-align: left;
    font-size: medium;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.bloc-name {
    text-align: center;
    background-color: beige;

}

.Bloc-TextArea {
    background-color: beige;
    border-radius: 1rem;
}

.placeholder {
    text-align: center;
}

.image {
    background-image: url(../img/To_Do_List.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    padding: 20px;
    position: relative;
    width: 100%;
}

.contenido-image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.titulo {
    text-align: left;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: capitalize;
    color: crimson;
}

.Save-Button {
    background-color: green;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.Save-Button:hover {
    background-color: greenyellow;
}

.text-ToDo {
    height: 1.5rem;
    text-align: center;
    border-radius: 1.5rem;
    background-color: beige;
}

.tareas {
    text-align: center;
    font-size: medium;
    font-size: 2.5rem;
    color: crimson;
    background-color: beige;   
}

.toDo-List-title {
    color: beige;
    text-align: center;
    font-size: 2.5rem;
}

.toDo-List {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.footer {
    color: beige;
}

.item-list{
    cursor: pointer;
     font-size: 25px;
      letter-spacing: 1px;
}

.item-list:hover{
    color: rgba(17, 233, 233, 0.767);
}